{% extends "base.html" %}

{% block title %} 寵寵欲動 - 官方網站 {% endblock %}
{% block headmessage %} 註冊頁面 {% endblock %}
{% block main %}
    <hr>
    <h3>請填寫您的資料</h3>
    <form action="" method="POST">
        {% csrf_token %}
        
        <table>
            {{ form.as_table }}
        </table>
        
        <!--<div class="form-row">
            <div class="form-group col-md-1">
                <label>{{ form.last_name.label }}</label>
                {{ form.last_name }}
                <label>{{ form.first_name.label }}</label>
                {{ form.first_name }}
            </div>
            <div class="form-group col-md-2">     
                <label>{{ form.username.label }}</label>
                {{ form.username }}
                <label>{{ form.password1.label }}</label>
                {{ form.password1 }}
                <label>{{ form.password2.label }}</label>
                {{ form.password2 }}
            </div>
            <div class="form-group col-md-3">
                <label>{{ form.email.label }}</label>
                {{ form.email }}
            </div>
        </div> -->
        <br>
        <input class="btn btn-success" type="submit" value="註冊並登入">
    </form>
{% endblock %}